.test-mailing{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  @media (max-width: 620px) {
    margin-bottom: 100px;
  }

}
.test-mailing h6{
margin: 0 1rem 1rem 1rem;
  font-size: 60px;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-weight: bold;
}

.form-control{
  width: 100%; 
  padding: 15px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 5px;
  margin-bottom: 10px;
  resize: vertical 
}
input[type=submit] {
  background-color: #9f9eaa;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #a41ea8;
}
.container-2 {
  border-radius: 5px;
 

}