.scroll-container {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin-bottom: 120px;
  // background-color: rgb(241, 241, 241);
  }
  .container{
    flex: 1 0 40%;
    margin: 50px;
    height: 30%;
    background-color: rgb(255, 255, 255);
    box-shadow: #dfdfdf;
    border-radius: 10px;
    padding: 30px;
    @media (max-width: 620px) {
      flex: 1 0 80%;
    }
  
  }
.card-image img{
  // padding: 20px;
  float: left;
  height: 250px;
  width: 250px;
  margin: 0 0.5em 0.5em 0;
  line-height: 0;
  border-radius: 5%;
 &:hover {
  opacity: .5;
  // transform: scale(1.5); 
}
@media (max-width: 620px) {
  padding: 20px;
  float: left;
  height: 50%;
  width: 50%;
  margin: 0 0.5em 0.5em 0;
  line-height: 0;
}
}
.card-content{
  display: inline;
  text-align: end;
// padding-left: 50px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 12px;

  @media (max-width: 620px) {
    display: inline;
    font-size: 15px;
  }
}

.card-title {

  font-size: 45px;
  // color: whitesmoke;
  text-shadow: 2px 2px 4px #464545;
  font-style: italic;
  &:hover {
    color: rgb(119, 9, 113);
    cursor: pointer;
    
  }
  @media (max-width: 620px) {
    font-size: 30px;
  }
}
.descrip {
  font-size: 14px;
  font-style: italic;
}
.descrip-2 {
margin-top: 100px;
  @media (max-width: 620px) {
    font-size: 11px;
  }

}


  

  





