.scroll-container{
  margin-bottom: 110px;
  // background-color: rgb(14, 11, 11);
}
.container {
// background: linear-gradient(0.25turn, #141414, #c020c5, #eec2ec);
background: linear-gradient(0.25turn, #141414, #87008b, #eec2ec);
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-between;
    margin: 2rem 7rem 2rem 7rem;
    padding: 5px;
    transition: all .4s;
    height: 140px;
  //  bottom: 20px;
  //  top: 20px;
    &:hover {
      transform: translateX(-2.5rem);
  }

  @media (max-width: 620px) {
    margin: 2rem 2rem 2rem 2rem;
    display: flex;
     text-align: center;
     align-items: center;
     justify-content: center;
      &:hover {
          transform: none;
      }
  }
}
.card-image img{
height: 125px;
width: 140px;
// margin-left: 15rem;
 border-radius: 10px;
 display: block;
 &:hover {
  opacity: .3;
}
@media (max-width: 620px) {
  display: none;
}
}
.card-content{
  display: flex;
  flex-direction: column;
  color: white;
padding-left: 50px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 12px;

  @media (max-width: 620px) {
    display: flex;
     text-align: center;
     align-items: center;
     justify-content: center;
  }
}

.card-title {
  // display: inline-block;
  display: flex;
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-style: italic;
  &:hover {
    opacity: .3;
    color: rgb(88, 80, 161);
    cursor: pointer;
    
  }
}
.descrip {
  font-size: 14px;
  font-style: italic;
  @media (max-width: 620px) {
    font-size: 11px;
  }
}
.descrip-2 {
  
  @media (max-width: 620px) {
    display: none;
  }
}





